@model AOHarvestApp.Web.ViewModels.Home.GetDayEntriesViewModel

@{
    ViewBag.Title = "Your entries for today";
}

<h2>Index</h2>

<h3><strong>Total hours:</strong> @Model.DailyEntries.Select(i => i.Hours).Sum()</h3>

<p>Send reminder to user to complete his/her timesheet.</p>

<form action="/home/SendIncompleteDailyEntriesEmail" method="post">
    @*<input type="hidden" id="email" name="email" value="@Model.Email"/>*@
    <input type="text" id="email" name="email" value="@Model.Email"/>
    <p><input type="submit" value="Send reminder"/></p>
</form>

<table>
    @foreach (var de in Model.DailyEntries)
    {
        <tr>
            <td>
                <div class="col-md-9">
                    <p><strong>@de.Task</strong> (@de.Client)</p>
                    <p>@de.Task – @de.Notes</p>
                </div>
                <div class="col-md-3">
                    <p><strong>@de.Hours</strong></p>
                </div>
            </td>
        </tr>
    }
</table>
